<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<div class="outer-wrapper">
<div class="new-container">
  <div class="login-form">
    <%= render 'shared/login_form' %>
  </div><!-- /.new-container -->
</div><!-- /.outer-wrapper -->