<header>
  <div class="header-container clearfix">
    <h1><%= page_title %></h1>

    <div class="login-form">
      <form action="">
        <table>
          <thead>
            <tr>
              <th><label for="email">メールアドレス</label></th>
              <th><label for="password" class="pass">パスワード</label></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><input type="text" id="email"></td>
              <td><input type="password" id="password"></td>
              <td><button type="submit">ログイン</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div><!-- /.login-form -->
  </div><!-- /.header-container -->
</header>

<div class="top-container">
  <div class="top-content clearfix">
    <div class="top-content-left">
      <h2>最近の投稿</h2>
      <p>会員登録しなくても、直近の閲覧はできます。</p>
    </div><!-- /.top-content-left -->

    <%= render '/users/form' %>
  </div><!-- /.top-content -->
</div><!-- /.top-container -->

<footer>
  <%= link_to 'DIVE INTO CODE', 'https://diveintocode.jp' %>
</footer>
