<header>
  <nav>
    <ul class="clearfix">
      <li><i class="fab fa-facebook-square fa-2x"></i></li>
      <li><input type="text" placeholder="検索"></li>
      <li><input type="submit" value="検索"></li>
      <li><img src="images/dive_into_code.png" alt="山田太郎" class="user-icon cover30"></li>
      <li class="user-name">山田太郎</li>
    </ul>
  </nav>
</header>
