<div class="icon-left">
  <p>
    <%= image_tag image_set(@user), alt: 'ユーザーアイコン',
          class: 'user-icon cover50' %>
  </p>
</div>

<%= f.label :image, 'ユーザーアイコン', class: 'user-icon-label' %>
<%= f.file_field :image, accept: 'image/jpeg, image/gif, image/png',
      class: 'user-img-area' %>
