<% icon_size = 50 %>

<div class="icon-left">
  <% if current_user.id == @user.id %>
    <p><%= choose_user_icon(current_user, icon_size) %></p>
  <% else %>
    <p><%= choose_user_icon(@user, icon_size) %></p>
  <% end %>
</div>
<%= f.label :image, 'ユーザーアイコン', class: 'user-icon-label' %>
<%= f.file_field :image, accept: 'image/jpeg, image/gif, image/png',
      class: 'user-img-area' %>
