<header>
  <nav>
    <ul class="clearfix">
      <li><i class="fab fa-facebook-square fa-2x"></i></li>
      <li><input type="text" placeholder="検索" class="search"></li>
      <li><input type="submit" value="検索" class="search-btn"></li>
      <li><img src="/dive_into_code.png" alt="山田太郎" class="user-icon cover30"></li>
      <li class="user-name"><%= user_name %></li>
      <li><%= link_to '新規投稿', new_post_path, class: 'post-btn' %></li>
      <li><%= link_to 'ログアウト', session_path(current_user.id),
                method: :delete %></li>
    </ul>
  </nav>
</header>
