<% @page_title = '投稿一覧' %>
<%= render 'shared/header' %>

<div class="outer-wrapper">
  <div class="notice">
    <p><%= notice %></p>
  </div><!-- /.notice -->

  <div class="container">
    <h2><%= @page_title %></h2>

    <% @posts.each do |post| %>
      <%= render 'content', post: post %>
    <% end %>
  </div><!-- /.container -->
</div><!-- /.outer-wrapper -->
