<% @page_title = '投稿一覧' %>

<%= render 'shared/header' %>

<div class="container">
  <p><%= notice %></p>
  <h2><%= @page_title %></h2>

  <% @posts.each do |post| %>
    <%= render 'content', post: post %>
  <% end %>
</div><!-- /.container -->
