@charset "UTF-8";

.show-username {
  font-size: 20px;
  padding-top: 10px;
}

.outer-table {
  padding: 30px 30px 40px;
}

.user-info {
  width: 100%;
  border-collapse: collapse;
}

.user-info .account-show {
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.user-info .a-s-box {
  padding: 20px;
}
