@charset "UTF-8";

/* header ------------ */
.top-header {
  width: 100%;
  height: 84px;
  background-color: #233961;
  color: #fff;
  font-size: 16px;
}

.header-container {
  width: 980px;
  margin: 0 auto;
}

.header-title {
  font-size: 34px;
  float: left;
  margin-top: 25px;
  color: #fff;
}

.login-form {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.login-label {
  font-size: 12px;
}

.top-in-field {
  border: 1px solid #333;
}

form table tr {
  text-align: left;
}

form label.pass {
  margin-left: 20px;
}

.login-form input.h-email,
.login-form input[type="password"] {
  font-size: 12px;
  width: 150px;
  height: 24px;
  border-radius: 3px;
}

.h-password {
  margin-left: 20px;
}

.login-btn {
  font-size: 12px;
  margin-left: 10px;
  padding: 5px;
  background-color: #233961;
  color: #fff;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
}

.login-btn:hover {
  background-color: #4267B2;
  cursor: pointer;
}

/* メインコンテンツ ------------ */
.outer_container {
  height: 730px;
}

.top-content {
  width: 980px;
  margin: 0 auto;
  padding-top: 20px;
}

.top-content h2 {
  font-size: 36px;
}

.top-content p {
  font-size: 18px;
}

.top-content-left {
  float: left;
  width: 480px;
  height: 600px;
}

.top-content-right {
  float: right;
  width: 480px;
  height: 600px;
  padding-left: 60px;
}

/* footer ------------ */
footer {
  width: 100%;
  height: 80px;
  background: #fff;
  text-align: center;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
}

.top-footer {
  color: #333;
}

.top-footer:hover {
  text-decoration: underline;
}

.notice {
  text-align: center;
  background-color: orange;
}