@charset "UTF-8";

/* header ------------ */
header {
  width: 100%;
  height: 84px;
  background-color: #3B5998;
  color: #fff;
  font-size: 16px;
}

.header-container {
  width: 980px;
  margin: 0 auto;
}

header h1 {
  font-size: 34px;
  float: left;
  margin-top: 25px;
}

header .login-form {
  float: right;
  margin-top: 10px;
}

header form table tr {
  text-align: left;
}

header form table th {
  font-size: 12px;
}

header form input {
  border: 1px solid #333;
}

header form input[type="text"],
header form input[type="password"] {
  width: 150px;
  height: 24px;
  border-radius: 3px;
}

header form label.pass {
  margin-left: 20px;
}

header form input[type="password"] {
  margin-left: 20px;
}

header form button {
  margin-left: 10px;
  background-color: #4267B2;
  color: #fff;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
}

/* メインコンテンツ ------------ */
.top-container {
  background-color: #E9EBEE;
}

.top-content {
  width: 980px;
  padding-top: 20px;
  margin: 0 auto;
}

.top-content h2 {
  font-size: 36px;
}

.top-content p {
  font-size: 18px;
}

.top-content-left {
  float: left;
  width: 480px;
  height: 600px;
}

.create-account {
  float: right;
  width: 480px;
  height: 600px;
  padding-left: 60px;
}

.create-account form table th {
  text-align: left;
  color: #90949D;
}

.create-account form {
  margin-top: 15px;
}

.create-account table td {
  padding: 5px 5px 5px 0;
}

.create-account form input {
  border-radius: 5px;
  font-size: 18px;
  padding-left: 10px;
  border: 1px solid #ccc;
}

.create-account form input[type="text"],
.create-account form input[type="password"] {
  width: 194px;
  height: 37px;
}

.create-account form input.wide {
  width: 100%;
}

.create-account form input[type="submit"] {
  width: 195px;
  height: 38px;
  border-radius: 3px;
  color: #fff;
  background-color: #639A4E;
  border: 1px solid #4f7a3f;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* footer ------------ */
footer {
  width: 100%;
  height: 80px;
  background: #fff;
  text-align: center;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
}

footer a {
  color: #333;
}