@charset "UTF-8";

body {
  background-color: #E9EBEE;
}
table tr td a {
  color: #333;
  text-decoration: underline;
}

/* メインコンテンツ ------------ */
#error_explanation {
  margin-top: 20px;
  color: red;
}
#error_explanation ul li {
  padding-top: 10px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 20px;
}

.new-container {
  padding-top: 20px;
  width: 500px;
  margin: 0 auto;
}

.create-account {
  width: 480px;
  height: 600px;

}

.create-account form table th {
  text-align: left;
  color: #90949D;
}

.create-account form {
  margin-top: 15px;
}

.create-account table td {
  padding: 5px 5px 5px 0;
}

.create-account form input {
  border-radius: 5px;
  font-size: 18px;
  padding-left: 10px;
  border: 1px solid #ccc;
}

.create-account form input[type="text"],
.create-account form input[type="password"] {
  width: 194px;
  height: 37px;
}

.create-account form input.wide {
  width: 100%;
}

.create-account form input[type="submit"] {
  width: 195px;
  height: 38px;
  border-radius: 3px;
  color: #fff;
  background-color: #639A4E;
  border: 1px solid #4f7a3f;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
