@charset "UTF-8";

body {
  background-color: #E9EBEE;
}
table tr td a {
  color: #333;
  text-decoration: underline;
}

/* メインコンテンツ ------------ */
#error_explanation {
  margin-top: 20px;
  color: red;
}
#error_explanation ul li {
  padding-top: 10px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 20px;
}

.new-container {
  padding-top: 20px;
  width: 400px;
  margin: 0 auto;
}

.create-account {
  width: 400px;
  height: 600px;
}

/* ユーザー管理画面 */
.user-index {
  border-collapse: collapse;
  width: 100%;
}

.user-index, .u-index-td {
  border: 1px solid #ccc;
}

.u-index-td {
  /* width: 120px; */
  padding: 5px 10px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}